@import "./Variables";

.aboutPage{
    background-color: $background;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h1{
        font-size: 400%;
        color: $green_main;

    }
    h2{
        font-size: 200%;
        color: $green_main;
    }
    p{
        color: $green_main;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .Entrance{
        p{
            justify-content: center;
            padding-left: 20%;
            padding-right: 20%;
            font-size: 150%;
        }
    }

    .Content{
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        text-align: center;
        padding-top: 15vh;
        .textstuff{
            width: 25%;
            p{
                font-size: 150%;
            }
        }
    }

    .ContentRev{
        //To be left alone despite being a copy of .Content, animations in the future might differ
        display: flex;
        align-items: stretch;
        text-align: center;
        justify-content: space-around;
        padding-top: 15vh; 
        .textstuffRev{
            width: 25%;          
            p{
                font-size: 150%;
            }
        }
    }
}