@import "./Variables";

.Footer {
    background-color: $blue_main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;

    .footer-logo{
        max-width:  50%;
        max-height: 50%;
    }


    .footer-social{
        padding-top: 4vh;
        display: flex;
        justify-content: center;
        column-gap: 5vw;
        img{
        max-width:  4%;
        max-height: 4%;
        cursor: pointer;
        transition: transform .2s;
        }
        img:hover {
            transform: scale(1.2);
          }
    }

    .footer-sponsors{
        padding-top: 5vh;
        padding-bottom: 10vh;
        display: flex;
        justify-content:space-around;
    }
    img{
        max-width:  15%;
        max-height: 15%;
        }
}