@import "./Variables";

.Header{
  background-color: $blue_main;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.Logo{
  cursor: pointer;
}


.Nav {   
    ul {
        color: $White;
        justify-content: space-between;
        font-family:'Helvetica';
        display: inline-flex;
        width:max-content;
        padding-inline: 5px;
    }
    a {
      color: $White;
      position: relative;
      text-decoration: none;
      display: block;
      padding: 2vh 2vh;

    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: $White;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
    
    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
}

body{
    margin: 0;
    padding: 0;
}

