@import "./Variables"


;*{
    box-sizing: 0;
}
.Header{
    background-color: $background;
    display: flex;
    align-items: center;
    justify-items: space-between;

}

.Nav {
    background-color: black;
    
    ul {
        color: $green_main;
        justify-content: space-between;
        font-family: Helvetica;
        display: inline-flex;
        margin: 10px;
        
    }
    a {
        text-decoration: none;
        color: $green_main;
    }

    a:hover{
        display: inline-block;
        position: relative;
        color: $green_main;
      }

      a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $green_main;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

body{
    margin: 0;
    padding: 0;
}

