@import "./Variables";

*{
    font-family: 'Helvetica';
}

.First-look{
    background-color: $background;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


    h1 {
        color: $green_main;
        align-content: space-between;
        font-size: 400%;
    }
    
    h2 {
        color: $green_main;
        align-content: space-between;
        font-size: 200%;
    }
    p{
        color: $green_main;
    }
    .Button{
        background-color: $background;
        cursor: pointer;
        color: $green_main;
        width:140px;
        height:50px;
        border-width:1px;
        font-size:15px;
        border-width:1px;
        border-color: $green_main;

    }
    .Button:hover{
        background-color: $green_main;
        color: $background;
        transition:0.2s ease-in-out;
    }
}

.HomeSlide {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding-top: 10vh;
    img{
        height: 35%;
        width: 35%;
        transition: transform .2s;
        cursor: pointer;

    }
    img:hover{
        transform: scale(1.05); 
    }
    .Content{
        text-align: center;
        text-align: left;
        
    h2 {
        vertical-align: top;
    }        
    p {
        padding-bottom: 15%;
    }
    }
}

.HomeSlideRev{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding-top: 10vh;
    img {
        max-height: 35%;
        max-width: 35%;
        transition: transform .2s;
        cursor: pointer;
          
    }
    img:hover{
        transform: scale(1.05); 
    }
    .ContentRev{
        text-align: center;
        text-align: right;
        
    h2 {
        vertical-align: top;
    }        
    p {
        padding-bottom: 15%;
    }
    }
}
*{
    margin: 0;
    padding: 0;
}
