@import "./Variables";

.HomePage{
    background-color: $blue_main;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


    h1 {
        color: $White;
        align-content: space-between;
        font-size: 400%;
    }
    
    h2 {
        color: $White;
        align-content: space-between;
        font-size: 200%;
    }
    p{
        color: $White;

    }
    .WelcomeStuff{
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .Button{
        background-color: $blue_main;
        cursor: pointer;
        color: $White;
        width:140px;
        height:50px;
        border-width:1px;
        font-size:15px;
        border-width:1px;
        border-color: $White;

    }
    .Button:hover{
        background-color: $White;
        color: $blue_main;
        transition:0.2s ease-in-out;
    }
}

.HomeSlide {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding-top: 10vh;
    img{
        height: 35%;
        width: 35%;
        transition: transform .2s;
        cursor: pointer;

    }
    img:hover{
        transform: scale(1.05); 
        box-shadow:
        1px 1px $green_main,
        2px 2px $green_main,
        3px 3px $green_main;
    }
    .Content{
        width: 50%;
        text-align: center;
        text-align: left;
        
    h2 {
        vertical-align: top;
    }        
    p {
        padding-bottom: 15%;
    }
    }
}

.HomeSlideRev{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding-top: 10vh;
    img {
        max-height: 35%;
        max-width: 35%;
        transition: transform .2s;
        cursor: pointer;
          
    }
    img:hover{
        transform: scale(1.05); 
        box-shadow:
        -1px 1px $green_main,
        -2px 2px $green_main,
        -3px 3px $green_main,
    }
    }
    .ContentRev{
        width: 50%;
        text-align: center;
        text-align: right;
        
    h2 {
        vertical-align: top;
    }        
    p {
        padding-bottom: 15%;
    }
    }
*{
    margin: 0;
    padding: 0;
}