$background:	rgb(13, 12, 39);
$blue_main: rgb(0,25,236);
$green_main: rgb(85,251,220);

*{
    font-family: 'Helvetica';
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }