$background:	rgb(129, 133, 137);
$blue_main: rgb(0,25,236);
$green_main: rgb(85,251,220);

@font-face {
    font-family: 'Din-2014';
    src: url(//db.onlinewebfonts.com/c/e0fa406cbe458b32a7ea4e9a379b85fc?family=DIN+2014) format('truetype');
}